.login_box{
    width: 340px;
    background-color: #fff;
}
.quiz_box{
    width:800px;
    background-color: #fff;
}
.mainHeaderWeb{
    background-image: linear-gradient(to top right, #003d55ff, #005f73ff, #0a9396ff);
    box-shadow: 0px 0px 2px black;
}
.mainHeaderWeb_index{
    background-color: #00000000;
    z-index:10;
}
.headerButton{
    color:#005f73ff;
}
.headerButton:hover{
    color: #003d55ff;
}
.threecontainer{
    width: 100vw;
    height: 100vh; 
    position: fixed;
    top:0;
    left:0;
    z-index:2;
}
.infoCard{
    height:650px;
    width:100%;
    top:0;
    left:0;
    padding:50px;
    position: absolute;
    overflow: hidden;
    z-index:4;
}
.infoCardMobile{
    height:650px;
    width:100%;
    top:0;
    left:0;
    padding:0px;
    padding-top: 45px;
    position: absolute;
    overflow: hidden;
    z-index:4;
}
.infoCardRel{
    height:200px;
    width:50%;
    left:0;
    margin:10px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index:4;
}
.infoCardRelMobile{
    height:200px;
    width:90%;
    left:0;
    margin:0px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index:4;
}
#num1{
    top:960px;
}
#num2{
    top:1500px;
}
#num3{
    top:2500px;
}
.infoCardRel>div>p{
   font-size: 18px;
   line-height: 21px;
   color: #021e29;
   font-weight: 300;
}
.infoCardBG{
    z-index:1;
    height:650px;
    width:100%;
    top:0;
    left:0;
    padding:50px;
    background-color: #005873;
    background-image:  linear-gradient(to bottom, #003d55ff, #005f73ff, #0a9396ff, #bae6f7);
    position:absolute;
    overflow: hidden;
}
.bottomtext{
    height:100px;
    width:100%;
    border-radius: 20px;
    top:3500px;
    position: relative;
    overflow: hidden;
    z-index:4;
}
.bottomtext>div>p{
    font-size: 18px;
    line-height: 21px;
    color: #021e29;
    text-align: center;
 }